.vh-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill-both {
  width: 100%;
  height: 100%;
}
